
<div masonry preserve-order
  item-selector=".thumbnail" 
  masonry-options="{'transitionDuration': 0, 'gutter': 10}">
  <div masonry-brick 
    class="thumbnail {{thumbnail.thumbnailSize}}"
    ng-repeat="thumbnail in thumbnails track by $index">
    <div class='img' image='{{thumbnail.backdrop_path}}'></div>
    <div class="caption">
      <h3>{{thumbnail.title}}</h3>
      <p>{{thumbnail.text}}</p>
      <span class="glyphicon glyphicon-star">{{thumbnail.vote_average}}</span>
      <span class="glyphicon glyphicon-heart">{{thumbnail.vote_count}}</span>
      <!-- comment section -->
      <div class="well">
        <div class="media">
          <a class="pull-left" href="#">
            <img class="media-object" src="images/{{thumbnail.img}}" alt="...">
          </a>
          <div class="media-body">
            <h4 class="media-heading">Media heading</h4>
            some comments
          </div>
        </div>
      </div>
      <!-- end comment section -->
    </div>
  </div>
</div>

